    <div id="title-section">
      <a href="/"><img src="{{image}}" alt="touchat"></a>
    </div>
    <div id ="video-area">

     
      
      <div id ="control-area">
       
        <button class="controls"> <i class="fa fa-video-camera" style="font-size:24px; "></i></button>
        <button class="controls"> <i class="fa fa-microphone" style="font-size:24px;"></i></button>
        <button class="controls" onclick='alert("/{{title}}")' id="copy"> <i class="fa fa-share" style="font-size:24px;" ></i></button>

      </div>

    </div>
    <div id="chat-area">
      <div id="chat-title">Chat <button id="chatState" ><i class="arrow down"></i></button></div>
      {{name}}
    <ul id="messages"></ul>
    <form id="form" action="">
      <input id="input" autocomplete="off" placeholder="Type message here"/><button id="send-button">Send</button>
    </form>
    </div>
     <div id="chat-down">Chat <button id="chatState" ><i class="arrow up"></i></button></div>

    <script src="script.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script>
      const ROOM_ID = "{{title}}"
       var width = screen.width;

       
      if (width >= '800px') { 
        document.getElementById('chat-area').style.display='block'; 
      }
    
    //changing desktop to mobile state and vice versa
      var width = $(window).width();
      $(window).resize(function(){
      if($(this).width() != width){
          width = $(this).width();
          if(width>850){
          $('#chat-area').show();
          $('#chat-down').hide();
          }
          if(width<=850){
          $('#chat-area').hide();
          $('#chat-down').show();
          }
        }
      });
      //closing chat
      $("#chat-title").click(function(){
        $('#chat-area').slideToggle();
        $('#chat-down').slideToggle();
      });
      //opening chat
      $("#chat-down").click(function(){
        $('#chat-area').slideToggle();
        $('#chat-down').slideToggle();
      });

      
    </script>
    

    

