
<div id="page-content">

<img src="images/logo.png" alt="touchat">
<form method="GET" action="/chatroom">
    <input type="text" placeholder="touchat.com/room-name" id="chatid" name="chatid">

    <button id="enterRoom"> Enter Chat</button>


</form>
</div>