
<div id="page-content">
<h1>touchat</h1>
<h2>Connecting your loved ones.</h2>

<form method="POST" action="chatroom">
    <input type="text" placeholder="touchat.com/room-name" id="chatid" name="chatid">

    <button id="enterRoom"> Enter Chat</button>


</form>
</div>